@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
font-family:'Poppins',sans-serif;
margin:0;padding:0;
box-sizing:border-box;
outline:none;border:none;
text-decoration:none;
text-transform:capitalize;
}

body{
background-color:rgb(254,137,75);
padding:10px;
background-image:url(https://tucdn.wpon.cn/2024/12/30/3ad9be9ade3b5.jpg);
background-size:100% 100%;
background-attachment:fixed;
}

.container{
max-width:1200px;
//margin:0 auto;
margin:100px auto;
display:flex;
flex-wrap:wrap;
align-items:flex-start;
gap:20px;
}

.container .main-video-container{
flex:1 1 700px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
background-color:#fff;
//background-image:url(https://tucdn.wpon.cn/2024/12/30/3ad9be9ade3b5.jpg);
padding:7px;
//padding-top:77px;
//padding-bottom:77px;
}

.container .main-video-container .main-video{
//margin-top:77px;
margin-bottom:-7px;
border-radius:10px;
width:100%;
}

.container .main-video-container .main-vid-title{
font-size:18px;
color:#444;
padding:10px;
//padding-top:10px;
//padding-bottom:10px;
//padding-left:10px;
//padding-right:10px;
overflow:hidden;
height:40px;
}


.container .video-list-container{
flex:1 1 350px;
height:390px;
//overflow-y:scroll;
overflow-y:auto;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
background-color:#fff;
padding:7px;
}

.container .video-list-container::-webkit-scrollbar{
width:0px;
}
.container .video-list-container::-webkit-scrollbar-track{
background-color:#fff;
border-radius:10px;
}
.container .video-list-container::-webkit-scrollbar-thumb{
background-color:#eee;
border-radius:10px;
}


.container .video-list-container .list{
display:flex;
align-items:center;
gap:15px;
padding:10px;
background-color:#eee;
cursor:pointer;
border-radius:10px;
margin-bottom:10px;
}


.container .video-list-container .list:last-child{
margin-bottom:0;
}
.container .video-list-container .list.active{
background-color:#ccc;
}
.container .video-list-container .list.active .list-title{
color:#fff;
}
.container .video-list-container .list .list-video{
width:100px;
border-radius:8px;
}
.container .video-list-container .list .list-title{
font-size:14px;
color:#444;
height:60px;
overflow:hidden;
}




@media (max-width:1200px){
.container{
margin:0;
}
}

@media (max-width:500px){
.container .main-video-container .main-vid-title{
font-size:18px;
text-align:center;
}
.container .video-list-container .list{
flex-flow:column;
gap:10px;
}
.container .video-list-container .list .list-video{
width:100%;
border-radius:10px;
//margin-bottom:-80px;
}
.container .video-list-container .list .list-title{
font-size:14px;
text-align:center;
padding:0 10px 10px;
//height:70px;
}
}
